# Permitir que Git vea la carpeta aunque esté vacía (opcional)
!data/.gitkeep

# Python bytecode
__pycache__/
*.pyc
*.py[cod]

# Entornos virtuales
venv/
env/
.venv/

# Datos (el pipeline los descarga, no hace falta subirlos)
data/*.csv
data/*.parquet

# IDEs y Editores
.vscode/
.idea/
*.swp
*.swo

# Pruebas y Temporales
tests/__pycache__/
tests/tmp/
tests/output/

# Archivos de perfilado y datos temporales de profiling
quality.prof
quality_func.prof
quality_func2.prof
tmp_profile_data/
tmp_profile_data2/